.testimoniesBgColor {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  background-color: green;
  background-image: linear-gradient(to bottom right, #137752, aliceblue);
}

.testimoniesBgColor:hover {
  color: green;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}
