.home {
  background-color: white;
  /* background-image: url("../../assets/homeBackground2.jpg"); */
  background-position: top;
  background-repeat: repeat;
  height: 632px;
  background-size: cover;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
}

.scamContainer {
  width: 80%;
}

.gistContainer {
  width: 18%;
}
