.home {
  background-color: black;
  background-image: url("../../assets/homeBackground2.jpg");
  background-position: center;
  background-repeat: repeat;
  height: 600px;
  background-size: cover;
}
