@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*Hide info of no checked inputs*/
.tabs__content input:not(:checked) ~ .tabs__content__info {
  display: none;
}

/* .AboutUs {
  align-items: center;
} */

/* .AboutImage {
  width: 30%;
  justify-content: space-between;
  background-image: url("../../assets/About/Services.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 700px;
  width: 500px;
} */

.aboutHeader {
  padding-top: 250px;
  text-align: center;
  font-size: 30px;
  color: black;
}

label.text {
  color: rgb(255, 94, 0);
}

.padbottom {
  padding-bottom: 30px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  color: black;
}
/* .AboutImage {
  background-image: url("../../assets/About/AboutUs5.jpg");
  width: 400px;
  background-position: center;
  background-repeat: repeat;
  height: 300px;
  background-size: cover;
} */
