.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blogPost2 {
  align-items: flex-start;
}

.blog {
  align-content: left;
  /* flex-grow: 3; */
}

.blogName {
  color: rgb(255, 94, 0);
  text-align: center;
  font-size: 30px;
}
