@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 20;
  padding: 10;
  padding-left: 100;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  /*  

  /* background-color: aliceblue; */

  /* .bg {
  background-color: white; */
}

/* .users {
  flex-grow: 4;
} */

/* .logo {
  flex-grow: 1;
} */

li {
  display: inline-block;
  text-decoration: none;
}

ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  color: rgb(255, 94, 0);
}

.accessLinks {
  padding-right: 20px;
}
